-r requirements.txt
mediapipe==0.10.9
opencv-python==4.13.0.92
opencv-contrib-python==4.13.0.92
PyAutoGUI==0.9.54
MouseInfo==0.1.3
PyGetWindow==0.0.9
PyMsgBox==2.0.1
PyRect==0.2.0
PyScreeze==1.0.1
pytweening==1.2.0
pyperclip==1.11.0
sounddevice==0.5.5
cmake==4.3.1
anthropic==0.94.1
openai==2.26.0