{% extends 'base.html' %}

{% block content %}

<h2>Dashboard</h2>

<div class="row">

<div class="col-md-3">
<div class="card bg-primary text-white p-3">
<h4>Total Students</h4>
<p>{{ students_count }}</p>
</div>
</div>

<div class="col-md-3">
<div class="card bg-success text-white p-3">
<h4>Total Staff</h4>
<p>{{ staff_count }}</p>
</div>
</div>

<div class="col-md-3">
<div class="card bg-warning text-white p-3">
<h4>Departments</h4>
<p>{{ department_count }}</p>
</div>
</div>

</div>

{% endblock %}